/* Magic Mirror Config Sample
 *
 * By Michael Teeuw https://michaelteeuw.nl
 * MIT Licensed.
 *
 * For more information on how you can configure this file
 * See https://github.com/MichMich/MagicMirror#configuration
 *
 */

var config = {
	address: "localhost", 	// Address to listen on, can be:
							// - "localhost", "127.0.0.1", "::1" to listen on loopback interface
							// - another specific IPv4/6 to listen on a specific interface
							// - "0.0.0.0", "::" to listen on any interface
							// Default, when address config is left out or empty, is "localhost"
	port: 8080,
	basePath: "/", 	// The URL path where MagicMirror is hosted. If you are using a Reverse proxy
					// you must set the sub path here. basePath must end with a /
	ipWhitelist: ["127.0.0.1", "::ffff:127.0.0.1", "::1"], 	// Set [] to allow all IP addresses
															// or add a specific IPv4 of 192.168.1.5 :
															// ["127.0.0.1", "::ffff:127.0.0.1", "::1", "::ffff:192.168.1.5"],
															// or IPv4 range of 192.168.3.0 --> 192.168.3.15 use CIDR format :
															// ["127.0.0.1", "::ffff:127.0.0.1", "::1", "::ffff:192.168.3.0/28"],

	useHttps: false, 		// Support HTTPS or not, default "false" will use HTTP
	httpsPrivateKey: "", 	// HTTPS private key path, only require when useHttps is true
	httpsCertificate: "", 	// HTTPS Certificate path, only require when useHttps is true

	language: "en",
	logLevel: ["INFO", "LOG", "WARN", "ERROR"], // Add "DEBUG" for even more logging
	timeFormat: 24,
	units: "metric",
	// serverOnly:  true/false/"local" ,
	// local for armv6l processors, default
	//   starts serveronly and then starts chrome browser
	// false, default for all NON-armv6l devices
	// true, force serveronly mode, because you want to.. no UI on this device

	modules: [
		{
			module: "alert",
		},
		{
			module: "updatenotification",
			position: "top_bar"
		},
		{
			module: "MMM-CountDown",
			position: "top_center",
			config: {
				event: "Baloo's Birthday!",
				date: "2021-03-23 00:00:00",
				daysLabel: "d ",
				hoursLabel: "h ",
				minutesLabel: "m "
			}
		},
		{
			module: "clock",
			position: "top_left"
		},
		{
			module: "calendar",
			header: "Scotland Holidays",
			position: "top_left",
			config: {
				calendars: [
					{
						symbol: "calendar-check",
						url: "https://www.officeholidays.com/ics-clean/united-kingdom/scotland"
					}
				]
			}
		},
		{
			module: "calendar",
			header: "Falkirk Council Holidays",
			position: "bottom_left",
			config: {
				calendars: [
					{
						symbol: "calendar-check",
						url: "http://www.falkirk.gov.uk/school-holidays-ical?su=20210311013732"
					}
				]
			}
		},
		{
			module: "compliments",
			position: "bottom_center",
			config: {
				compliments: {
					morning: [
						"Those are the most beautiful, big brown eyes I've ever seen!",

						"Good morning Gorgeous!",
						"You look so perfect",
						"You are the gravy to my mashed potatoes",
						"I hope your day is as beautiful as you!",
						"You’re my best friend!",
						"I love every inch of you— even your toes!",
						"Looking good! ;)",
						"You look beautiful even when you don’t try!",
						"WOW, I won the jackpot with you!",
						"I'm lucky to be your mirror!",
						"On a scale from 1 to 10, you're an 15!",
						"Damn. You're looking good!",
						"Yes, you are the fairest of them all",
						"Go get 'em, Tiger!",
						"You look awesome today, seriously",
						"Yum!, I dig you",
						"I would volunteer to take your place in the Hunger Games",
					],


				}
			}
		},
		{
			module: "MMM-3Day-Forecast",
			position: "top_right",
			config: {
				api_key: "sh",
				lat: "sh",
				lon: "sh",
			}
		},
		{
			module: "MMM-GoogleDriveSlideShow",
			position: "middle_center",
			config: {
				rootFolderId: "19VlNdKJKeVgo4m6yg077YArKcYKDtWpb",
				maxFolders: 0, 
				maxResults: 350,
				playMode: "AUTO",
				nextOnNotification: null,
				stopOnNotification: null,
				startOnNotification: null,
				refreshDriveDelayInSeconds: 24 * 3600,
				refreshSlideShowIntervalInSeconds: 10,
				maxWidth: "500",
				maxHeight: "500",
				theme: "none",
				opacity: 1,
				debug: false
			}
		},
		{
			module: "MMM-NowPlayingOnSpotify",
			position: "bottom_right",
		  
			config: {
			  clientID: "sh",
			  clientSecret: "sh",
			  accessToken: "sh",
			  refreshToken: "sh"
			}
		},
	]
};

/*************** DO NOT EDIT THE LINE BELOW ***************/
if (typeof module !== "undefined") {module.exports = config;}
